.lightbulb_box {
    margin: auto;
    position: relative;
    flex-grow: 8;
    min-height: 400px;
}

.light {
    background: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    border-radius: 180px;
    margin: auto;
    display: block;
}

.lightbulb {
    position: absolute;
    width: 300px;
    height: auto;
    width: 300px;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -59%);
}